* {
    margin: 0;
    padding: 0;
    background-color: #151718;
    box-sizing: border-box;
}

.header {
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgb(255, 255, 255);
    position: sticky;
    top: 0;
    background-color: #151718;
}

.header-title {
    color: #f0f0f0;
    font-size: 28px;
    font-family: 'Calibri';
    font-weight: 600;
}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 50px; 
    padding: 30px;
    max-width: 1200px; 
    margin: auto; 
}

.text-block {
    flex: 1 1 300px;
    max-width: 420px;
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
}

.titles {
    color: #e0e0e0;
    font-family: 'Calibri';
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 6px;
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
}

.text {
    color: #d4d4d4;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: normal;
    line-height: 23px;
    background-color: #444;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}

.image {
    display: flex;
    margin: auto;
    border-radius: 5px;
}
